div(id='AboutMe', class='Screen container')
	div(class='container MainBody')
	h2(align='center') About Me
	hr(style='background-color:#ddd; height: 1px;')
	div(class='col-md-8 about-left')
		| Throughout my life I have always been a very focused and goal oriented person, as well as a highly logical thinker.  In freshman year of high school, I took a C++ programming class, and instantly knew what I wanted to do for the rest of my life.  I knew that I would pursue a software engineering or computer science degree at Penn State Behrend, and that I would work as a software engineer when I graduated.  I then proceeded to learn as much as I could about programming and computers throughout my time at high school.
		hr(style='background-color:#ddd; height: 1px;')
		| In college, I utilized my time to hone my technical as well as leadership skills.  I spent a lot of time outside of class keeping up with new technologies and software development practices and standards, as well as driving myself to practice leadership skills and perform to my highest capabilities.  I have learned about many different aspects of the computer world, but have never lost my desire to be a software engineer.
		hr(style='background-color:#ddd; height: 1px;')
		| At my internship with Erie Insurance, I have learned more than I ever could at school.  I have experienced all parts of web development and integration, as well as the software development life cycle, from idea inception to project delivery and maintenance.  I have created many tools that will be used by other software engineers to improve their productivity and workflow, as well as help the company make production level database changes with a structured and safe workflow.  I have also experienced the corporate structure, extreme collaboration with agile groups, as well as how to utilize leadership skills and business oriented thinking to assist company growth.  Needless to say, it has been a fascinating and crucial experience to my personal growth.
		p I am motivated by difficult problems, and I am constantly seeking ways to challenge myself and push technology forward.
	div(class='col-md-4 about-right')
		img(src='/images/me.jpeg', width="300")