div(id='Experience' class='dark Screen container')
	h2(align='center') Experience
	hr(style='background-color:#ddd; height: 1px;')
	div(class='col-md-4 about-left')
		img(src='/images/erie.jpg', width="300", height="178")
	div(class='col-md-8 about-right') 
		h3 Erie Insurance
		| Software Engineering Intern
		br
		| May 2015 - Present
		br
		| Erie, Pennsylvania
		br
		h4 Summer 2015 - Spring 2016: 
		| I worked on the DSpro Web team to help develop the personal lines website.  Using C#, JavaScript, SQL Server, and other various technologies, I helped develop various features and tools to improve the site or assist the team in their own work.  Capitalizing on knowledge I already had about .NET and web development, I built upon what I learned in school and on my own to excel on the team, and propel my abilities far beyond what I learned prior to working on the team.
		br
		b Related Projects:
		ul
			li Macro Bar
			li DataMender
		h4 Summer 2016 - Present:
		| I joined the Enterprise Integration Core team to connect the services from the front end with the services on the back end.  The main tool I used was IBM's DataPower, which I developed for and configured to suit the needs of the team.  This required skills in XML, XSLT, JavaScript, and Python, as well as a very different thought process compared to my previous position in web development.  I also helped developed some tools, macros, and plugins to automate processes that were done manually prior.  During my experience on this team, I got a broad view of how enterprise systems work in tandem, since every system goes through middleware at some point.  Lastly, I introduced the team to a documented workflow, to help keep track of changes as well as archive work, whereas before they kept track on paper and through emails.
		br
		b Related Projects:
		ul
			li Catastrophic Weather Tracking
			li Odata Endpoint API