div(id='Knowledge' class='Screen container')
	h2(align='center') Knowledge
	hr(style='background-color:#ddd; height: 1px;')
	div(class='col-md-4 about-left')
		img(src='/images/school.jpg', width="300", height="230")
	div(class='col-md-8 about-right')
		p Throughout my school career, I have taken numerous courses providing technical and personal knowledge. In high school, I took many intro to computer programming courses, as well as the AP Computer Science course offered.  This was my introduction to interacting with computers on a deeper level, and I immediately knew that I wanted to pursue a major, and eventually a career, in a computer related field.
		h4 Penn State Behrend
		| Major: Software Engineering
		br 
		| Minor: Computer Science
		br 
		| GPA: 3.45
		br
		| Related Technical Courses:
		ul
			li Introduction to Programming Techniques - Basic C++ skills.
			li Intermediate Programming - Advanced C++ skills and basic data structures.
			li Object-Oriented Design - Design and structure of object oriented languages (Java).
			li Discrete Mathematics for Computer Science - Discrete math with a focus on relating topics to the computer world.
			li Digital Design - Introduction to Boolean algebra and digital circuit design.
			li Microprocessors - Introduction to microprocessors and assembly programming.
			li Software Engineering - A course designed around project lifecycle, from requirements to QA.
			li Operation Systems - Overview of how operating systems work, as well as interacting with them through C.
			li Database Management Systems - Design and usage of databases.
			li Embedded Real-Time Systems - Design and development for embedded systems using C.
			li Software Testing - Utilizing discrete math to design and test software.
			li Data Structure and Algorithms - Advanced data structures and algorithm design.
			li Software Architecture - Software design patterns and system architecture.
		| Other Helpful Courses:
		ul
			li Matrices - Various functions and properties of matrices.
			li Effective Speech - Designing and performing presentations and speeches.
			li Rhetoric and Composition - Writing and essay improvements.
			li Statistical Analysis - Introduction to statistics with an engineering focus.
			li Basic Management Concepts - Managerial psychology and effective management.