div(id='Projects' class='Screen container')
	h2(align='center') Projects
	hr(style='background-color:#ddd; height: 1px;')
	ul(class="nav nav-tabs")
		li(class="active")
			a(data-toggle="tab" href="#allproj") All
		li
			a(data-toggle="tab" href="#homeproj") Home
		li
			a(data-toggle="tab" href="#schoolproj") School
		li
			a(data-toggle='tab' href='#') Work
	div(class="tab-content")
		div(id="allrpoj", class="tab-pane fade in active")
			div(class='tab-body')
				h3 HOME
				p Some content.
		div(id="homeproj", class="tab-pane fade")
			div(class='tab-body')
				h3 Menu 1
				p Some content in menu 1.
		div(id="menu2", class="tab-pane fade")
			div(class='tab-body')
				h3 Menu 2
				p Some content in menu 2.