extends layout

block content
	div
		include partials/aboutme
	div(class="dark")
		include partials/experience
	div
		include partials/projects
	div(class="dark")
		include partials/knowledge
	div
		include partials/contact