extends layout

block content
	div(class="section")
		include partials/aboutme
	div(class="dark section")
		include partials/projects
	div(class="section")
		include partials/experience
	div(class="dark section")
		include partials/knowledge
	div(class="section")
		include partials/contact