body {
  font-family: 'Arvo', serif;
  font-size: 14px;
  background-color: #00ccff;
  color: #222222;
}
a {
  color: #00B7FF;
}
#HeaderLabel {
	margin-left: auto;
	margin-right: auto;
}
.navbar-nav {
	width: 100%;
	text-align: center;
}
.navbar-nav > li {
	float: none;
	display: inline-block;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav>li>a:focus{
	color: #ffffff;
}
#Navigator {
	background-color: #117791
}
.navbar-default .navbar-nav>li>a:hover {
	background: #006682;
	transition: .5s;
	transform: scale(.8);
	color: #ffffff;
}
.MainBody {
	margin-top: 140px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.container {
	width: 1000px;
}
.dark {
	background-color: #222222;
	color: #00ccff;
}
.section {
	padding-top: 75px;
	padding-bottom: 15px;
}
.nav-tabs {
	text-align: center;
}
.nav-tabs > li {
	float: none;
	display: inline-block;
}
img {
	display: block;
	margin: auto;
}
.tab-body {
	display: table;
	margin: 0 auto;
}
#ContactForm {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.hoverimage {
	width: 455px;
	height: 300px;
}
.imagewrap {
	margin-bottom: 15px;
}
.image-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	right: 15px;
	background: rgba(50,50,50,.9);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	padding: 50px;
}
.projdesc {
	height: 132px;
	position: relative;
	display: block;
}
.imagewrap:hover .image-text {
	visibility: visible;
	opacity: 1;
	transition: .5s;
	cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1031; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 500px;
}
.modal-content {
	cursor: pointer;
}
#ModalCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: left;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #ModalCaption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}